################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/Uploads/ProfilePictures

.vs/
/Api/bin
/Api/obj
/BusinessLogicLayer/obj
/BusinessLogicLayer/bin
/BusinessObjectLayer/obj
/BusinessObjectLayer/bin